.loader {
  user-select: none;
  .spinner-container {
    z-index: 2002;
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    margin: 0 auto;

    .spinner {
      width: 80px;
      height: 80px;
      display: inline-block;
      position: relative;

      div {
        margin: 8px;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }

      div:nth-child(1) {
        animation-delay: -0.45s;
      }

      div:nth-child(2) {
        animation-delay: -0.3s;
      }

      div:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }

  .loader-backdrop {
    z-index: 2001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
