<div class="flex justify-between items-center py-4">
  <label class="color text-xl font-semibold text-[24px]">{{ 'txt.productDetail' | i18n}}</label>
</div>

<div class="w-full bg-white shadow-md rounded-md overflow-hidden">
  <div class="flex justify-between items-center px-5 py-3 bg-red-600 text-white">
    <h3 class="select-none text-[14px]">{{'txt.info' | i18n}}</h3>
  </div>

  <div class="px-10 py-3 items-center text-gray-700 grid grid-cols-1 md:grid-cols-2 gap-10">
    <div class="justify-center">
      <label class="text-[14px]">{{'txt.productName' | i18n}}</label>
      <div class="mt-2 rounded-md">
        <input type="text" [(ngModel)]="productData!.productName" disabled class="w-full px-2 py-2 border-solid border-2 border-gray-400 rounded-md focus:outline-none" />
      </div>
    </div>

    <div class="items-center">
      <label class="text-[14px]">{{'txt.price' | i18n}}</label>
      <div class="mt-2 rounded-md">
        <input type="text" [(ngModel)]="productData!.price" disabled class="w-full px-2 py-2 border-solid border-2 border-gray-400 rounded-md focus:outline-none text-right" />
      </div>
    </div>

    <div class="items-center">
      <label class="text-[14px]">{{'txt.createdBy' | i18n}}</label>
      <div class="mt-2 rounded-md">
        <input type="text" [(ngModel)]="productData!.createdBy" disabled class="w-full px-2 py-2 border-solid border-2 border-gray-400 rounded-md focus:outline-none" />
      </div>
    </div>

    <div class="items-center">
      <label class="text-[14px]">{{'txt.createdDate' | i18n}}</label>
      <div class="mt-2 rounded-md">
        <input type="text" [(ngModel)]="productData!.createdDate" disabled class="w-full px-2 py-2 border-solid border-2 border-gray-400 rounded-md focus:outline-none" />
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center px-4 py-4 space-x-4">
    <button (click)="save()" class="px-3 py-1 text-gray-700 text-sm rounded-md bg-gray-200 hover:bg-gray-300 focus:outline-none cursor-pointer flex justify-center items-center">{{ 'txt.save' | i18n}}</button>
    <button (click)="back()" class="px-3 py-1 text-gray-700 text-sm rounded-md bg-gray-200 hover:bg-gray-300 focus:outline-none cursor-pointer flex justify-center items-center">{{ 'txt.back' | i18n}}</button>
  </div>
</div>
